<footer class="site-footer">
<div class="footer">
        <div class="container flex-footer">
                         
                <div class="f-about f-item">
                   <h2>Gaslamp Photo Lab</h2>
                  <p>Specializing in wedding and portrait printing, package printing, prints from digital files, one hour color or b&amp;w process and printing, same day proofing for 120 film.</p>
                 </div>
                                 
            
                <div class="f-contact f-item">
                    <!-- Contact Us -->
                    <h2>Contact Us</h2> 
                    <address class="footer-address">
                       Gaslamp Photo Lab<br />
                        4569 Mission Gorge Pl Suite # H <br />
                        San Diego, CA 92120 <br />
                        Hours: Monday - Thursday 9am-5:30pm<br />
                        Phone: (619) 696-8733<br />
                        Email: <a href="mailto:gaslampphoto@sbcglobal.net" class="">gaslampphoto@sbcglobal.net</a>
                        </address>
          
                </div>
           
  </div> 
</div>
<!-- footer copyright -->
<div class="copyright">
      <div class="container">        
        <p class="copyright-text">
          &copy; {{ site.time | date: '%Y' }} {{ site.name }} All Rights Reserved. |  <a href="https://github.com/rdyar/strapless">Strapless Theme</a> 
        </p>
      </div> 
</div>
<!-- end footer copyright --> 
</footer>
</body>
</html>
