/*custom styles*/
.hidden-mobile {display:block;}
.hidden-desktop{display:none;}
@media (max-width: 768px ){
    
        .hidden-desktop{
            display:block;
    }
    .hidden-mobile {display:none;}
}

.img-responsive-hm {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.lead {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4;
}

.highlite{
	// display: flex;
 //    flex-direction: column;
 //    align-items: center;
    text-align: center;
    max-width: 75%;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $alt-background-color;
    border: $alt-background-border;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.well-75percent{
    width:75%;
    margin:0 auto;
}
.lead-crumb{
     font-size: 1.1rem;
     color:#676767;
    }
.servicebox {
    border:$alt-background-border;
    border-radius: 3px;
    padding: 20px;
    background-color: $alt-background-color;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    width: 340px;
}
.downloadsicon {
    float: left;
    width: 55px;
    margin: 0 25px 5px 5px;
}
.list-group-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:20px 0;
}
.list-group-flex-item{
    width:348px;
    margin:10px 12px;
}
.list-group-item {
    display:block;
    background-color: #fff6eb;
    border: 1px solid #faebcc;
    padding:10px 20px;
    margin-bottom: -1px;
}
@media (min-width: 768px) {
  .list-group-flex-item {
    width:310px;
  }
}
@media (min-width: 992px) {
 .list-group-flex-item {
    width: 330px;
     }
}
@media (min-width: 1200px) {
 .list-group-flex-item {
      width: 260px;
  }
}
.responsive-video {
    height: 0;
    padding-top: 1px;
    position: relative;
    margin-bottom: -3px;
    padding-bottom: 56.25%;
}
.responsive-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.video-well {
    margin-top: 50px;
    padding: 19px;
}
.roes-buttons {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 24px;
}
.roes-windows:hover {
    background-position: bottom;
}
.roes-windows {
    display: block;
    height: 62px;
    background: url('https://prolabprints.com/assets/img/download-roes-windows.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top;
}
.roes-mac:hover {
    background-position: bottom;
}
.roes-mac {
    display: block;
    height: 62px;
    background: url('https://prolabprints.com/assets/img/download-roes-macs.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top;
}
.roes-text{
    max-width:760px;
    margin: 0 auto;
}
.blockquote-danger {
    background-color: #FBE8E8;
    border-color: #d9534f;
}
.blockquote-info {
    background-color: #EBF6FF;
    border-color: #56A8EA;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
blockquote footer {
    display: block;
    font-size: 80%;
}

.faq-group { 
    width: 500px; 
    }

.faq-link { 
    /*background-color: #F9F8F6;
    border: 1px solid #D8D6D3;*/
    cursor: pointer;
    padding-bottom: 1rem;
  }
 /*.faq-link:not(:first-child) {
  border-top: none;
}  */
/*.faq-link h3{
    font-size:1rem;
    color: #4096CA;
    font-weight: 700;
    margin: 0;
   
}*/
.faq-link-span { 
     font-size:1.03rem;
    color: #4096CA;
    font-weight: 700;
    margin: 0;
    border-bottom: $link-border-bottom;
}
.faq-link-span:hover{
    border-bottom:$link-border-bottom-hover;
}
.faq-content {
    display: none;
    padding: 10px;
    /*border-right: 1px solid #E6E3E3;
    border-left: 1px solid #E6E3E3;
     border-bottom: 1px solid #E6E3E3; 
    */}
.support-flex{
    display:flex;
     flex-wrap:wrap;
 }
  .support-main{
   margin-right:2rem;
 }
 @media (min-width: 992px){
    .support-main{
        width:650px;}
 }
  @media (min-width: 1200px){
    .support-main{
        width:850px;}
 }

 .support-sidebar{
    border-left: 1px solid #efefef;
    padding-left: 24px;
 }
 @media (max-width: 992px){
    .support-sidebar{
        border-left:none;
        padding-left:0; }
 }
  
h3.vid-title >a {
    color: #DD671F;
 }  
.vid-title{
    font-size:1.03rem;
    font-weight:bold;
}
.photo-caption{
        text-align: center;
    padding-top: 10px;
    font-style: italic;
}
.headlineq {
    font-size: 38px;
    font-weight:bold;
    color:#343434;
}
@media (min-width: 768px){
     .roeslink {
    text-align: center;
    width: 600px;
    margin: auto;
    background-color: #fffea6;
    height: 25px;}
}
@media (max-width: 767px){
.roeslink {
    display: none;}
} 
.box-style-1 {
    text-align: center;
    padding: 20px;
    margin: 20px 4px;
   background-color: #fff!important;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
   box-shadow: 0 1px 2px rgba(0,0,0,.1);
   border: none!important;
}