$main_font_family: 'open sans', arial, sans serif;

$main_font-size: 15px;
$mobile-font-size: 16px;

$body-font-color: #373a3c;

$heading-font-family: 'open sans', arial, sans serif;
$heading-default-color: #292929;
$heading-h1-color: #292929;
$heading-h2-color: #343434;
$heading-h3-color: #3184C1;

$link-color: #428bca;
$link-border-bottom: 1px dotted #909090;
$link-border-bottom-hover:none;
$link-text-decoration: none;
$link-text-decoration-hover: none;

$alt-background-color:#F9F8F6;
$alt-background-border:1px solid #EFE8DD;
